<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    h2 {
        text-align: center;
        color: #277230;
    }
    p {
        margin: 20px 0;
        text-align: center;
    }
</style>
<body>
    <h2>Welcome to complain and compliment app API!</h2>
    <p>This is an api build to serve frontend of the complain and compliment digital feedback app for Meru University of Science and Technology</p>
</body>
</html>